@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Paul's Video</h1>
</div>

<p><button onclick="myMove()">Click Me</button></p>

<div id="contain">
    <div id="animator"></div>
</div>

<div class="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/XNXIZuIBJKs"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
</div>